/* ------------------------------------------------------------------- 
 * ###FORMS 
 * ------------------------------------------------------------------- */

form {
    /* margin: 100px; */
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-block;
}

input[type="captcha"],
input[type="tel"],
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    display: block;
    padding: 5px;
    border: 0;
    outline: none;
    min-width: 100px;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #EDEDED;
    background: #3D4145;
}

input[type="captcha"],
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    color: #EDEDED;
    background-color: #3d4145;
}

textarea {
    min-height: 180px;
}

label,
legend {
    font: 20px/24px opensans-bold, sans-serif;
    margin: 12px 0;
    color: #9EBDDB;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    font-size: 15px;
    color: #6E6E6E;
}

input[type="checkbox"] {
    display: inline;
}